USE [master]
GO
/****** Object:  Database [Art Galleries]    Script Date: 08.11.2022 19:12:55 ******/
CREATE DATABASE [Art Galleries]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Art Galleries', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Art Galleries.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Art Galleries_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Art Galleries_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Art Galleries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Art Galleries]
GO
/****** Object:  Table [dbo].[Galleries]    Script Date: 08.11.2022 19:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galleries](
	[GalleryID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Fee] [money] NULL,
	[Date] [date] NOT NULL,
	[MuseumID] [int] NOT NULL,
 CONSTRAINT [PK_Galleries] PRIMARY KEY CLUSTERED 
(
	[GalleryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 08.11.2022 19:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[MuseumID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
 CONSTRAINT [PK_Manager_1] PRIMARY KEY CLUSTERED 
(
	[MuseumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Museum]    Script Date: 08.11.2022 19:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Museum](
	[MuseumID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Location] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Museum] PRIMARY KEY CLUSTERED 
(
	[MuseumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Painter]    Script Date: 08.11.2022 19:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Painter](
	[PainterID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Painter] PRIMARY KEY CLUSTERED 
(
	[PainterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paintings]    Script Date: 08.11.2022 19:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paintings](
	[PaintingID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Movement] [varchar](50) NOT NULL,
	[Medium] [varchar](50) NOT NULL,
	[PainterID] [int] NOT NULL,
 CONSTRAINT [PK_Paintings] PRIMARY KEY CLUSTERED 
(
	[PaintingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaintingsGalleries]    Script Date: 08.11.2022 19:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaintingsGalleries](
	[PaintingID] [int] NOT NULL,
	[GalleryID] [int] NOT NULL,
 CONSTRAINT [PK_PaintingsGalleries] PRIMARY KEY CLUSTERED 
(
	[PaintingID] ASC,
	[GalleryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Galleries]  WITH CHECK ADD  CONSTRAINT [FK_Galleries_Museum1] FOREIGN KEY([MuseumID])
REFERENCES [dbo].[Museum] ([MuseumID])
GO
ALTER TABLE [dbo].[Galleries] CHECK CONSTRAINT [FK_Galleries_Museum1]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Museum] FOREIGN KEY([MuseumID])
REFERENCES [dbo].[Museum] ([MuseumID])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Museum]
GO
ALTER TABLE [dbo].[Paintings]  WITH CHECK ADD  CONSTRAINT [FK_Paintings_Painter] FOREIGN KEY([PainterID])
REFERENCES [dbo].[Painter] ([PainterID])
GO
ALTER TABLE [dbo].[Paintings] CHECK CONSTRAINT [FK_Paintings_Painter]
GO
ALTER TABLE [dbo].[PaintingsGalleries]  WITH CHECK ADD  CONSTRAINT [FK_PaintingsGalleries_Galleries] FOREIGN KEY([GalleryID])
REFERENCES [dbo].[Galleries] ([GalleryID])
GO
ALTER TABLE [dbo].[PaintingsGalleries] CHECK CONSTRAINT [FK_PaintingsGalleries_Galleries]
GO
ALTER TABLE [dbo].[PaintingsGalleries]  WITH CHECK ADD  CONSTRAINT [FK_PaintingsGalleries_Paintings] FOREIGN KEY([PaintingID])
REFERENCES [dbo].[Paintings] ([PaintingID])
GO
ALTER TABLE [dbo].[PaintingsGalleries] CHECK CONSTRAINT [FK_PaintingsGalleries_Paintings]
GO
USE [master]
GO
